on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: causes_service
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.14'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - name: ruff
        run: ruff check .

  test:
    runs-on: ubuntu-latest
    services:
      db_service:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: causes_service_db
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    defaults:
      run:
        shell: bash
        working-directory: causes_service
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.14'
          cache: 'pip'
      - run: cp .env.example .env
      - run: pip install -r requirements.txt
      - run: npm install @openapitools/openapi-generator-cli -g
      - run: make build
      - run: pytest
