django==5.1
djangorestframework==3.14.0
Pillow==9.5.0
grafana-django-saml2-auth==3.11.0
pyjwt==2.7.0
# TODO This adds 200mb to the image!! Is there a better way?
psycopg2-binary==2.9.6

meilisearch==0.31.5
mailchimp-marketing==3.0.80
supabase==2.7.3

django-log-request-id==2.1.0

## Openapi generator (probably dev/build dep)
pyyaml
uritemplate
drf-spectacular

python-dotenv==1.0.0
django-storages[azure]==1.13

## Admin
django-unfold==0.36.0

django-cors-headers==4.2.0

sentry-sdk[django]==1.38.0

django-health-check==3.18.3

## dev deps TODO move

### Testing deps
pytest==7.4.0
pytest-django==4.5.2
factory_boy==3.2.1

## Linting deps
mypy==1.11.0
django-stubs[compatible-mypy]==5.1.0
djangorestframework-stubs==3.15.1

ruff==0.0.287
