django==6.0.2
djangorestframework==3.16.1
Pillow==12.1.1
grafana-django-saml2-auth==3.20.0
pyjwt==2.10.1
# TODO This adds 200mb to the image!! Is there a better way?
psycopg2-binary==2.9.11

meilisearch==0.40.0
mailchimp-marketing==3.0.80
supabase==2.28.0
websockets==15

django-log-request-id==2.1.1

## Openapi generator (probably dev/build dep)
pyyaml
uritemplate
drf-spectacular

python-dotenv==1.2.1
django-storages[azure]==1.14.6

## Admin
django-unfold==0.81.0

django-cors-headers==4.9.0

sentry-sdk[django]==2.53.0

django-health-check==4.0.6

## dev deps TODO move

### Testing deps
pytest==9.0.2
pytest-django==4.12.0
factory-boy==3.3.3

## Linting deps
mypy==1.19.1
django-stubs[compatible-mypy]==5.2.9
djangorestframework-stubs==3.16.8

ruff==0.15.4
